
.overMap {
  height: calc(100vh - 70px);
}
.overMap * {
  z-index:10;
  padding:10px;

}
.searchWindow {
  width:300px;
  min-height:40px;
  max-height:calc(100vh - 260px);
  background-color: rgba(255,255,255,0.7) !important;
  margin-right:auto;
}
.posts{
  width:100vw;
  background-color: rgba(255,255,255,0.7);
  overflow-x: auto;
}
.eachPost {
  min-width:250px;
  width:250px;
  height:200px;
}

.bAddr{
  padding:15px;
}
.bAddr div{
  white-space: nowrap;
}