
.overMap {
  height: calc(100vh - 70px);
  display:flex;
  flex-direction:column;
  justify-content: space-between;
}
.overMap * {
  z-index:10;
  padding:10px;

}
.searchWindow {
  width:250px;
  height:500px;
  background-color: rgba(255,255,255,0.7) !important;
  margin-right:auto;
}
.posts{
  width:100vw;
  background-color: rgba(255,255,255,0.7);
  overflow-x: auto;
}
.eachPost {
  min-width:250px;
  width:250px;
  height:200px;
}